{
  "openapi": "3.0.1",
  "info": {
    "title": "Wex Health and Benefits APIs",
    "version": "v1.0.0",
    "description": "All external APIs merged for documentation and discovery",
    "x-audience": "external"
  },
  "servers": [
    {
      "url": "https://platform.sandbox.benefits.wexglobal.com/",
      "description": "Sandbox"
    },
    {
      "url": "https://platform.uat.benefits.wexglobal.com/",
      "description": "UAT344"
    }
  ],
  "paths": {
    "/v{version}/mass-updates": {
      "get": {
        "tags": [
          "Mass Updates"
        ],
        "summary": "Download CSV Report",
        "description": "Download a CSV report for mass updates based on specified criteria including client ID, user IDs, and batch job type",
        "operationId": "GetMassUpdatesReport",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "API version",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2"
            }
          },
          {
            "name": "ClientId",
            "in": "query",
            "description": "Client identifier for the organization",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "example": 100
            }
          },
          {
            "name": "UserIds",
            "in": "query",
            "description": "Comma or space-separated list of user IDs (numbers only)",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[\\d\\s,]+$",
              "example": "1001,1002,1003"
            }
          },
          {
            "name": "BatchJobType",
            "in": "query",
            "description": "Type of batch job for report generation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 7,
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7
              ],
              "example": 1,
              "x-enum-descriptions": {
                "1": "LCP (Lowest Cost Plan)",
                "2": "Employee History",
                "3": "Employee Eligibility",
                "4": "Rate of Pay",
                "5": "EIN",
                "6": "Union",
                "7": "Employment Status"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report generated successfully - returns CSV file",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "example": "EmployeeId,Name,Status\n1001,John Doe,Active\n1002,Jane Smith,Active"
              }
            },
            "headers": {
              "Content-Disposition": {
                "description": "Attachment header with filename",
                "schema": {
                  "type": "string",
                  "example": "attachment; filename=\"mass_updates_report.csv\""
                }
              },
              "X-Content-Type-Options": {
                "description": "Security header",
                "schema": {
                  "type": "string",
                  "example": "nosniff"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters or user authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No data found for the specified criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error during report generation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Mass Updates"
        ],
        "summary": "Upload CSV File",
        "description": "Upload a CSV file for batch processing of mass updates. Maximum file size: 50MB. Only CSV files are supported.",
        "operationId": "UploadMassUpdatesCsvFile",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "API version",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2"
            }
          }
        ],
        "requestBody": {
          "description": "Upload request containing the CSV file, client ID, and batch job type",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/MassUpdatesUploadHttpRequestV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded and processing initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid file format, size, or request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "File size exceeds the 50MB limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported file type (only CSV files are allowed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error during file processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/claims/v1/consumers/{person_id}/claims/{claim_number}": {
      "get": {
        "tags": [
          "Claims"
        ],
        "summary": "Get Claim",
        "description": "Retrieve detailed information about a claim and related information by Person ID and Claim Number",
        "operationId": "GetClaim",
        "parameters": [
          {
            "name": "person_id",
            "in": "path",
            "description": "The GUID generated by the Identity Management System for accessing information belonging to this specific person.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "claim_number",
            "in": "path",
            "description": "The Claim number, an alphanumeric string, e.g. 11BPEB1210513P0000101",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Optional correlation ID associated with the request, comprised of alphanumeric or hyphen characters up to 36 characters in length.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved claim information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.  Check query parameters.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication failed.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found.  No Consumer found for supplied ID.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/claims/v1/consumers/{person_id}/claims": {
      "get": {
        "tags": [
          "Claims"
        ],
        "summary": "Get Claims for Participant",
        "description": "Retrieve a list of claims belonging to a specific person by Person ID, paginated",
        "operationId": "GetClaimsForParticipant",
        "parameters": [
          {
            "name": "person_id",
            "in": "path",
            "description": "The GUID generated by the Identity Management System for accessing information belonging to this specific person.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number claims requested",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "The starting index in the list of Claims to be returned",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Optional correlation ID associated with the request, comprised of alphanumeric or hyphen characters up to 36 characters in length.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved claim information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimsDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimsDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimsDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.  Check query parameters.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication failed.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found.  No Consumer found for supplied ID.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/claims/v1/businesses/{business_id}/claims": {
      "get": {
        "tags": [
          "Claims"
        ],
        "summary": "Get Claims for Business",
        "description": "Retrieve a list of claims belonging to a specific business by Business ID, paginated",
        "operationId": "GetClaimsForBusiness",
        "parameters": [
          {
            "name": "business_id",
            "in": "path",
            "description": "The Business ID, a guid",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number claims requested",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "The starting index in the list of Claims to be returned",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Optional correlation ID associated with the request, comprised of alphanumeric or hyphen characters up to 36 characters in length.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved claim information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimsDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimsDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimsDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.  Check query parameters.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication failed.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found.  No Consumer found for supplied ID.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/claims/v1/consumers/{person_id}/receipts": {
      "get": {
        "tags": [
          "Claims"
        ],
        "summary": "Get Receipts",
        "description": "Retrieve a list of receipt entities belonging to a specific person by Person ID, filtered by receipt type, receipt type identifier, and number of months back, paginated",
        "operationId": "GetReceiptsForParticipant",
        "parameters": [
          {
            "name": "person_id",
            "in": "path",
            "description": "Unique identifier for the person whose receipts are being retrieved",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items to return per page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Page index (zero-based)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "receipt_type_identifier",
            "in": "query",
            "description": "Identifier to filter receipts by specific type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receipt_type",
            "in": "query",
            "description": "Type of receipt to filter by (ALL, CLAIM, or EXPENSE)",
            "schema": {
              "enum": [
                "ALL",
                "CLAIM",
                "EXPENSE"
              ],
              "type": "string"
            }
          },
          {
            "name": "number_of_months_back",
            "in": "query",
            "description": "Number of months to look back for receipts from current date",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Optional correlation ID associated with the request, comprised of alphanumeric or hyphen characters up to 36 characters in length.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved recepit information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptsDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptsDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptsDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.  Check query parameters.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication failed.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found.  No Consumer found for supplied ID.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/claims/v1/consumers/{person_id}/receipts/{receipt_id}": {
      "get": {
        "tags": [
          "Claims"
        ],
        "summary": "Get Receipt",
        "description": "Retrieve a receipt entity to a specific person by Person ID and Receipt ID",
        "operationId": "GetReceiptForParticipant",
        "parameters": [
          {
            "name": "person_id",
            "in": "path",
            "description": "Unique identifier for the person who owns the receipt",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "receipt_id",
            "in": "path",
            "description": "Unique identifier for the receipt to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Optional correlation ID associated with the request, comprised of alphanumeric or hyphen characters up to 36 characters in length.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved receipt information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.  Check query parameters.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication failed.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found.  No Consumer found for supplied ID.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/claims/v1/consumers/{person_id}/payees": {
      "get": {
        "tags": [
          "Claims"
        ],
        "summary": "Get Payees",
        "description": "Retrieve a list of payee information objects for a person by Person ID, paginated",
        "operationId": "GetPayeesForParticipant",
        "parameters": [
          {
            "name": "person_id",
            "in": "path",
            "description": "Unique identifier for the person whose payees are being retrieved",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of payees to return per page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Page index (zero-based) for pagination",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Optional correlation ID associated with the request, comprised of alphanumeric or hyphen characters up to 36 characters in length.",
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved receipt information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PayeesDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayeesDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayeesDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.  Check query parameters.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Authentication failed.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found.  No Consumer found for supplied ID.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MassUpdateDownloadHttpRequestV2": {
        "type": "object",
        "required": [
          "ClientId",
          "UserIds",
          "BatchJobType"
        ],
        "properties": {
          "ClientId": {
            "type": "integer",
            "format": "int32",
            "description": "Client identifier for the organization",
            "minimum": 1,
            "example": 100
          },
          "UserIds": {
            "type": "string",
            "description": "Comma or space-separated list of user IDs (numbers only)",
            "pattern": "^[\\d\\s,]+$",
            "example": "1001,1002,1003"
          },
          "BatchJobType": {
            "type": "integer",
            "format": "int32",
            "description": "Type of batch job for report generation",
            "minimum": 1,
            "maximum": 7,
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7
            ],
            "example": 1,
            "x-enum-descriptions": {
              "1": "LCP (Lowest Cost Plan)",
              "2": "Employee History",
              "3": "Employee Eligibility",
              "4": "Rate of Pay",
              "5": "EIN",
              "6": "Union",
              "7": "Employment Status"
            }
          }
        },
        "additionalProperties": false,
        "description": "Enhanced request model for downloading mass update reports in API V2"
      },
      "MassUpdatesUploadHttpRequestV2": {
        "type": "object",
        "required": [
          "ClientId",
          "File",
          "BatchJobTypeId"
        ],
        "properties": {
          "ClientId": {
            "type": "integer",
            "format": "int32",
            "description": "Client identifier for the organization",
            "minimum": 1,
            "example": 100
          },
          "File": {
            "type": "string",
            "format": "binary",
            "description": "CSV file to upload for batch processing. Maximum file size: 50MB. Supported format: CSV with UTF-8 encoding."
          },
          "BatchJobTypeId": {
            "type": "integer",
            "format": "int32",
            "description": "Type of batch job to process",
            "minimum": 1,
            "maximum": 7,
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7
            ],
            "example": 1,
            "x-enum-descriptions": {
              "1": "LCP (Lowest Cost Plan)",
              "2": "Employee History",
              "3": "Employee Eligibility",
              "4": "Rate of Pay",
              "5": "EIN",
              "6": "Union",
              "7": "Employment Status"
            }
          }
        },
        "additionalProperties": false,
        "description": "Enhanced request model for uploading CSV files for mass updates in API V2"
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "UploadId": {
            "type": "integer",
            "format": "int32",
            "description": "Unique identifier for the upload operation",
            "example": 12345
          },
          "FileName": {
            "type": "string",
            "description": "Name of the uploaded file",
            "example": "employees_batch_update.csv"
          },
          "FileSize": {
            "type": "integer",
            "format": "int64",
            "description": "Size of the uploaded file in bytes",
            "example": 1024
          },
          "RecordsProcessed": {
            "type": "integer",
            "format": "int32",
            "description": "Number of records processed from the file",
            "example": 150
          },
          "Status": {
            "type": "string",
            "description": "Current status of the upload processing",
            "example": "Processing"
          },
          "UploadedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the upload was initiated",
            "example": "2024-10-20T10:30:00Z"
          },
          "UserId": {
            "type": "integer",
            "format": "int32",
            "description": "ID of the user who initiated the upload",
            "example": 12345
          },
          "BatchJobTypeId": {
            "type": "integer",
            "format": "int32",
            "description": "Type of batch job being processed",
            "example": 1
          },
          "ClientId": {
            "type": "integer",
            "format": "int32",
            "description": "Client ID associated with the upload",
            "example": 100
          }
        },
        "additionalProperties": false,
        "description": "Response model for file upload operations"
      },
      "ApiUploadResponse": {
        "type": "object",
        "properties": {
          "IsSuccess": {
            "type": "boolean",
            "description": "Indicates if the operation was successful",
            "example": true
          },
          "Data": {
            "$ref": "#/components/schemas/UploadResponse"
          },
          "Message": {
            "type": "string",
            "description": "Success message describing the operation result",
            "example": "File uploaded successfully and processing has been initiated"
          },
          "Timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the response was generated",
            "example": "2024-10-20T10:30:00Z"
          }
        },
        "additionalProperties": false,
        "description": "Generic success response wrapper for upload operations"
      },
      "ApiErrorResponse": {
        "type": "object",
        "properties": {
          "IsSuccess": {
            "type": "boolean",
            "description": "Indicates if the operation was successful (always false for error responses)",
            "example": false
          },
          "ErrorCode": {
            "type": "string",
            "description": "Error code identifying the type of error",
            "example": "VALIDATION_ERROR"
          },
          "Message": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "The provided data is invalid"
          },
          "ValidationErrors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Dictionary of field-specific validation errors",
            "example": {
              "ClientId": [
                "ClientId must be a positive integer"
              ]
            }
          },
          "Timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the error occurred",
            "example": "2024-10-20T10:30:00Z"
          }
        },
        "additionalProperties": false,
        "description": "Structured error response with validation details for API operations"
      },
      "BatchJobType": {
        "type": "integer",
        "format": "int32",
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6,
          7
        ],
        "description": "Enum representing different types of batch jobs",
        "x-enum-varnames": [
          "LCP",
          "EmployeeHistory",
          "EmployeeEligibility",
          "RateOfPay",
          "EIN",
          "Union",
          "EmploymentStatus"
        ],
        "x-enum-descriptions": {
          "1": "LCP (Lowest Cost Plan)",
          "2": "Employee History",
          "3": "Employee Eligibility",
          "4": "Rate of Pay",
          "5": "EIN",
          "6": "Union",
          "7": "Employment Status"
        }
      },
      "ClaimDTO": {
        "type": "object",
        "properties": {
          "claim_number": {
            "type": "string",
            "description": "A unique identifier assigned to the claim.",
            "nullable": true,
            "x-faker": "random.alphaNumeric(8)"
          },
          "claim_amount": {
            "type": "number",
            "description": "The total amount of the claim submitted.",
            "format": "double",
            "x-faker": "finance.amount(10, 5000, 2)"
          },
          "claim_status": {
            "enum": [
              "BANKING_FAILED_STATUS",
              "DENIED_COLLECTING_REPAYMENT_STATUS",
              "DENIED_STATUS",
              "FREEZE_STATUS",
              "HOLD_STATUS",
              "PAID_STATUS",
              "PENDING_RECEIPT_STATUS",
              "PENDING_REIMBURSEMENT_STATUS",
              "SCHEDULED_REIMBURSEMENT_STATUS",
              "UNSPECIFIED"
            ],
            "type": "string",
            "description": "The current processing status of the claim.",
            "x-faker": "helpers.arrayElement(['PAID_STATUS', 'PENDING_REIMBURSEMENT_STATUS', 'HOLD_STATUS', 'DENIED_STATUS'])"
          },
          "submission_date": {
            "type": "string",
            "description": "The date the claim was submitted.",
            "format": "date-time",
            "nullable": true,
            "x-faker": "date.recent(30).toISOString()"
          },
          "start_date_of_service": {
            "type": "string",
            "description": "The first date services were provided for the claim.",
            "format": "date-time",
            "nullable": true,
            "x-faker": "date.past(1).toISOString()"
          },
          "end_date_of_service": {
            "type": "string",
            "description": "The last date services were provided for the claim.",
            "format": "date-time",
            "nullable": true,
            "x-faker": "date.past(1).toISOString()"
          },
          "processed_date": {
            "type": "string",
            "description": "The date the claim was processed.",
            "format": "date-time",
            "nullable": true,
            "x-faker": "date.recent(15).toISOString()"
          },
          "provider_name": {
            "type": "string",
            "description": "The name of the provider associated with the claim.",
            "nullable": true,
            "x-faker": "company.name()"
          },
          "paid_amount": {
            "type": "number",
            "description": "The amount reimbursed for the claim.",
            "format": "double",
            "x-faker": "finance.amount(5, 4000, 2)"
          },
          "submitted_amount": {
            "type": "number",
            "description": "The original amount submitted for reimbursement.",
            "format": "double",
            "x-faker": "finance.amount(10, 5000, 2)"
          },
          "is_ptp": {
            "type": "boolean",
            "description": "Indicates whether the claim is part of a pay-the-provider process.",
            "x-faker": "datatype.boolean()"
          },
          "denial_reasons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DenialReasonDTO"
            },
            "description": "The reason(s) the submitted claim was denied, if applicable.",
            "nullable": true
          },
          "requests_for_more_information": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RmiDTO"
            },
            "description": "Request(s) for additional information for the submitted claim, if applicable.",
            "nullable": true
          },
          "receipt_status": {
            "enum": [
              "RECEIPT_REQUIRED",
              "RECEIPT_RECEIVED",
              "RECEIPT_OVERDUE",
              "RECEIPT_NOT_NEEDED",
              "RECEIPT_AVAILABLE",
              "RECEIPT_NEW_NEEDED",
              "RECEIPT_RE_UPLOADED",
              "RECEIPT_PENDING",
              "UNSPECIFIED"
            ],
            "type": "string",
            "description": "The status of receipt submission for the claim.",
            "x-faker": "helpers.arrayElement(['RECEIPT_RECEIVED', 'RECEIPT_REQUIRED', 'RECEIPT_NOT_NEEDED', 'RECEIPT_PENDING'])"
          },
          "denied_amount": {
            "type": "number",
            "description": "The total amount of the claim that was denied.",
            "format": "double",
            "x-faker": "finance.amount(0, 1000, 2)"
          },
          "applied_copay_amount": {
            "type": "number",
            "description": "The portion of the claim amount applied to a copay.",
            "format": "double",
            "x-faker": "finance.amount(0, 50, 2)"
          },
          "applied_coinsurance_amount": {
            "type": "number",
            "description": "The portion of the claim amount applied to coinsurance.",
            "format": "double",
            "x-faker": "finance.amount(0, 500, 2)"
          },
          "applied_deductible_amount": {
            "type": "number",
            "description": "The portion of the claim amount applied to a deductible.",
            "format": "double",
            "x-faker": "finance.amount(0, 1000, 2)"
          },
          "claim_source": {
            "enum": [
              "CONSUMER",
              "POINT_OF_SALE",
              "INTERACTIVE_VOICE_RECOGNITION",
              "IMPORT",
              "ADMINISTRATOR",
              "WEB_SERVICE",
              "HEALTH_CARE_IMPORT",
              "RECURRING_CLAIM",
              "INTEGRATED_PAYMENT_NETWORK",
              "MOBILE",
              "CONSUMER_WEB_SERVICE",
              "UNSPECIFIED"
            ],
            "type": "string",
            "description": "The source of the claim submission.",
            "x-faker": "helpers.arrayElement(['CONSUMER', 'MOBILE', 'WEB_SERVICE', 'POINT_OF_SALE'])"
          },
          "scheduled_for_reimbursement_date": {
            "type": "string",
            "description": "The date the claim is scheduled for reimbursement.",
            "format": "date-time",
            "nullable": true,
            "x-faker": "date.future(30).toISOString()"
          }
        },
        "additionalProperties": false,
        "description": "Claim Object containing details of a claim, including the claim number, amount, and status, submission date, start and end date of service, paid and submitted amount."
      },
      "ClaimsDTO": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Current page index (i.e. page number minus one)",
            "format": "int32",
            "x-faker": "datatype.number({min: 0, max: 10})"
          },
          "page_size": {
            "type": "integer",
            "description": "Number of items per page",
            "format": "int32",
            "x-faker": "datatype.number({min: 10, max: 100})"
          },
          "has_next": {
            "type": "boolean",
            "description": "Indicated whether there are additional pages",
            "x-faker": "datatype.boolean()"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaimDTO"
            },
            "description": "A list of claims",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Claims Object containing a list of claims and pagination information"
      },
      "DenialReasonDTO": {
        "type": "object",
        "properties": {
          "denial_code": {
            "type": "string",
            "description": "The code identifying the reason for denial.",
            "nullable": true,
            "x-faker": "helpers.arrayElement(['DR001', 'DR002', 'DR003', 'DR004'])"
          },
          "reason": {
            "type": "string",
            "description": "A brief description of why the claim was denied.",
            "nullable": true,
            "x-faker": "helpers.arrayElement(['Insufficient documentation', 'Service not covered', 'Pre-authorization required', 'Provider not in network'])"
          },
          "denial_date_time": {
            "type": "string",
            "description": "The date and time the claim was denied.",
            "format": "date-time",
            "x-faker": "date.recent(7).toISOString()"
          },
          "is_upload_receipt_allowed": {
            "type": "boolean",
            "description": "Indicates whether a receipt can be uploaded to resolve the denial.",
            "x-faker": "datatype.boolean()"
          },
          "explanation": {
            "type": "string",
            "description": "A detailed explanation of the denial reason.",
            "nullable": true,
            "x-faker": "lorem.sentence()"
          },
          "action_required": {
            "type": "string",
            "description": "The action needed to resolve the denial.",
            "nullable": true,
            "x-faker": "helpers.arrayElement(['Upload receipt', 'Contact provider', 'Provide additional documentation', 'Submit pre-authorization'])"
          }
        },
        "additionalProperties": false,
        "description": "Denial Reason Object contain details on why a claim was denied"
      },
      "PayeeDTO": {
        "type": "object",
        "properties": {
          "payee_tin": {
            "type": "string",
            "description": "The Tax Identification Number (TIN) associated with the payee.",
            "nullable": true,
            "x-faker": "random.numeric(9)"
          },
          "payee_id": {
            "type": "string",
            "description": "A unique identifier for the payee.",
            "nullable": true,
            "x-faker": "random.alphaNumeric(10)"
          },
          "name": {
            "type": "string",
            "description": "The full name of the payee.",
            "nullable": true,
            "x-faker": "person.fullName()"
          },
          "account_number": {
            "type": "string",
            "description": "The account number associated with the payee.",
            "nullable": true,
            "x-faker": "finance.account(10)"
          },
          "address_line1": {
            "type": "string",
            "description": "The first line of the payee's address.",
            "nullable": true,
            "x-faker": "location.streetAddress()"
          },
          "address_line2": {
            "type": "string",
            "description": "The second line of the payee's address, if applicable.",
            "nullable": true,
            "x-faker": "location.secondaryAddress()"
          },
          "address_line3": {
            "type": "string",
            "description": "The third line of the payee's address, if applicable.",
            "nullable": true,
            "x-faker": "lorem.word()"
          },
          "address_line4": {
            "type": "string",
            "description": "The fourth line of the payee's address, if applicable.",
            "nullable": true,
            "x-faker": "lorem.word()"
          },
          "city": {
            "type": "string",
            "description": "Payee's address city.",
            "nullable": true,
            "x-faker": "location.city()"
          },
          "state": {
            "type": "string",
            "description": "Payee's address state or province.",
            "nullable": true,
            "x-faker": "location.state()"
          },
          "postal_code": {
            "type": "string",
            "description": "Payee's address postal code.",
            "nullable": true,
            "x-faker": "location.zipCode()"
          },
          "country": {
            "type": "string",
            "description": "Payee's address country.",
            "nullable": true,
            "x-faker": "location.country()"
          }
        },
        "additionalProperties": false,
        "description": "Payee object containing details of the payee."
      },
      "PayeesDTO": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Current page index (i.e. page number minus one)",
            "format": "int32",
            "x-faker": "datatype.number({min: 0, max: 10})"
          },
          "page_size": {
            "type": "integer",
            "description": "Number of items per page",
            "format": "int32",
            "x-faker": "datatype.number({min: 10, max: 100})"
          },
          "has_next": {
            "type": "boolean",
            "description": "Indicated whether there are additional pages",
            "x-faker": "datatype.boolean()"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PayeeDTO"
            },
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Payees object containing a list of payee objects and pagination information"
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true,
            "x-faker": "internet.url()"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "x-faker": "lorem.words(3)"
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true,
            "x-faker": "helpers.arrayElement([400, 401, 403, 404, 500])"
          },
          "detail": {
            "type": "string",
            "nullable": true,
            "x-faker": "lorem.sentence()"
          },
          "instance": {
            "type": "string",
            "nullable": true,
            "x-faker": "internet.url()"
          }
        },
        "additionalProperties": {}
      },
      "ReceiptDTO": {
        "type": "object",
        "properties": {
          "receipt_id": {
            "type": "string",
            "description": "The unique identifier assigned to the receipt.",
            "nullable": true,
            "x-faker": "random.alphaNumeric(12)"
          },
          "file_name": {
            "type": "string",
            "description": "The name of the uploaded receipt file.",
            "nullable": true,
            "x-faker": "system.fileName({extensionCount: 1})"
          },
          "file_size": {
            "type": "integer",
            "description": "The size of the receipt file in bytes.",
            "format": "int32",
            "x-faker": "datatype.number({min: 1024, max: 5242880})"
          },
          "content_type": {
            "enum": [
              "UNSPECIFIED",
              "PDF",
              "HTML",
              "XML",
              "GIF",
              "JPEG",
              "JPG",
              "PNG",
              "EXCEL",
              "EXCEL_OPEN_XML",
              "CSV",
              "TEXT",
              "DATA",
              "TIFF",
              "DOC",
              "DOCX",
              "ODT",
              "PAGES",
              "RTF",
              "PPS",
              "PPT",
              "PPTX",
              "KEYNOTE",
              "NUMBERS",
              "BMP",
              "HTM",
              "XHTML",
              "SEVENZIP",
              "ZIP",
              "CSV_STANDARD",
              "PPSX"
            ],
            "type": "string",
            "description": "The type of content in the receipt.",
            "x-faker": "helpers.arrayElement(['PDF', 'JPEG', 'PNG', 'DOC', 'DOCX'])"
          },
          "upload_date": {
            "type": "string",
            "description": "The date the receipt was uploaded.",
            "format": "date-time",
            "x-faker": "date.recent(30).toISOString()"
          },
          "tracked_expense_number": {
            "type": "string",
            "description": "The number associated with the tracked expense related to the receipt.",
            "nullable": true,
            "x-faker": "random.alphaNumeric(10)"
          },
          "claim_numbers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of claim numbers linked to the receipt.",
            "nullable": true,
            "x-faker": "['CL123456', 'CL789012', 'CL345678']"
          }
        },
        "additionalProperties": false,
        "description": "Receipt Object that contains information about a receipt, including the file name, size, content type, upload date, and associated claim numbers."
      },
      "ReceiptsDTO": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Current page index (i.e. page number minus one)",
            "format": "int32",
            "x-faker": "datatype.number({min: 0, max: 10})"
          },
          "page_size": {
            "type": "integer",
            "description": "Number of items per page",
            "format": "int32",
            "x-faker": "datatype.number({min: 10, max: 100})"
          },
          "has_next": {
            "type": "boolean",
            "description": "Indicated whether there are additional pages",
            "x-faker": "datatype.boolean()"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReceiptDTO"
            },
            "description": "A list of receipts",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Receipts Object containing a list of receipts and pagination information"
      },
      "RmiDTO": {
        "type": "object",
        "properties": {
          "action_date": {
            "type": "string",
            "description": "The date action was requested to provide more information",
            "format": "date-time",
            "x-faker": "date.recent(14).toISOString()"
          },
          "reason": {
            "type": "string",
            "description": "A brief description of the reason for the request.",
            "nullable": true,
            "x-faker": "helpers.arrayElement(['Missing receipt', 'Unclear documentation', 'Additional verification needed', 'Provider information required'])"
          },
          "code": {
            "type": "string",
            "description": "The code associated with the request for more information.",
            "nullable": true,
            "x-faker": "helpers.arrayElement(['RMI001', 'RMI002', 'RMI003', 'DOC001'])"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the information requested.",
            "nullable": true,
            "x-faker": "lorem.sentences(2)"
          },
          "status": {
            "type": "string",
            "description": "The status of the request for more information.",
            "nullable": true,
            "x-faker": "helpers.arrayElement(['PENDING', 'FULFILLED', 'OVERDUE', 'CANCELLED'])"
          },
          "note": {
            "type": "string",
            "description": "Additional notes or comments regarding the request.",
            "nullable": true,
            "x-faker": "lorem.sentence()"
          }
        },
        "additionalProperties": false,
        "description": "Request for More Information object containing details on why a claim needs more information"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": []
}